/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * TetherGame implementation : © Sean Li 9913851+saifahn@users.noreply.github.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*
	This is the CSS stylesheet of your game User Interface.
	
	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in tethergame.js).
	
	Usually, you are using CSS to:
	
	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).
	
	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/

@use 'sass:math';
@use 'sass:list';

// calculated from the cards.jpg sprite sheet
$card-width: math.div(1600px, 8);
$card-height: math.div(1955px, 7);

#adrift-zone {
  padding: 40px;
  margin: 20px;
  display: inline-block;
  background-color: darksalmon;
  border-radius: 4px;
}

#hand {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
  background-color: cornsilk;
  border: 1px dashed darkseagreen;
}

#groups {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.group {
  padding: 1rem;
  border: 4px dashed darkslateblue;
  border-radius: 4px;
}

.deck {
  border: 1px solid black;
  border-radius: 5px;
  width: $card-width;
  height: $card-height;
  zoom: 0.75;
  transform: rotate(90deg);
  background-color: steelblue;
  margin: -60px 20px;
}

.card {
  zoom: 0.75;
  border-radius: 10px;
  width: $card-width;
  height: $card-height;

  &--flipped {
    transform: rotate(180deg);
  }

  &--adrift {
    transform: rotate(90deg);
    margin: -60px 20px;
  }

  &--selectable {
    outline: 0.25rem dashed black;
    cursor: pointer;
  }

  &--selected {
    outline: 0.4rem solid yellowgreen;
  }
}

$id-list: '01', '02', '03', '04', '05', '06', '07', '08', '09', '11', '12', '13',
  '14', '15', '16', '17', '18', '19', '22', '23', '24', '25', '26', '27', '28',
  '29', '33', '34', '35', '36', '37', '38', '39', '44', '45', '46', '47', '48',
  '49', '55', '56', '57', '58', '59', '66', '67', '68', '69', '77', '78', '79',
  '88', '89';

@for $i from 1 through list.length($id-list) {
  $id: list.nth($id-list, $i);
  // 0-indexed
  $column: ($i - 1) % 8;
  $row: math.floor(calc(($i - 1) / 8));

  #card-#{$id} {
    background-image: url('img/cards.jpg');
    background-position: left
      calc($column / 7 * 100%)
      top
      calc($row / 6 * 100%);
  }
}
